@import "varibales";
@import "mixin";

.cleanliness-sanitization {
    .topCard {

        background-color: #D5D5D5;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom: 2px solid #63799B !important;

        .cardItem {
            display: flex;
            width: 100%;
            align-items: center;
            position: relative;
            z-index: 1;
            h2 {
                margin-bottom: 0;
                color: #2E2E2E;
               
            }

            .action-icons {
                margin-left: auto;
            }
        }
    }

    .plant-tabs {
        height: 38%;

        .nav-link {
            padding: 0 !important;
            border-radius: 12px !important;
            // opacity: .4;
            height: 100%;
            width: calc(100% - 30px);
            .card {
                @include breakpoint(tablet-land)
                {
                    min-height: 153px;
                }
                .card-title {
                    background-image: url(../images/cardBg.png);
                    background-position: 0% 60%;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
    
                    }
    
                    &::before {
                        background: transparent linear-gradient(90deg, #F2F2F2 0%, #F2F2F273 68%, #F2F2F2B8 100%) 0% 0% no-repeat padding-box !important;
                    }
                }

               

            }

            &.active,
            &:hover {
                box-shadow: 5px 7px 17px #E0121270;
                background-color: transparent !important;
                opacity: 1;

                .card {
                    .card-title {
                        position: relative;
                        &::before {
                           
                            background: transparent linear-gradient(90deg, #E01212 0%, #E0121270 68%, #E012125C 100%) 0% 0% no-repeat padding-box !important;
                        }

                        .cardItem {
                            position: relative;
                            z-index: 2;
                            h2 
                            {
                                color: #ffffff;
                            }
                            .action-icons {
                                .editon {
                                    &::before {
                                        background-image: url(../images/edit-white.svg);
                                    }
                                }
                            }
                        }

                       
                    }
                }

                .verification,
                .addNew-card {
                    .card-title {
                        background-image: none !important;

                        &::before {
                            display: none;
                        }

                        .cardItem {
                            .action-icons {
                                .editon {
                                    &::before {
                                        background-image: url(../images/edit.svg);
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    .verification,
    .addNew-card {
        .card-title {
            background-image: none !important;

        }

    }

    .assign-btn {
        background-color: $green-color;
        border: none;
    }

    .filterSearch {
        margin-bottom: .5rem;
        .row 
        {
            margin-right: 0 !important;
            .col-md-3 
            {
                padding-right: 0 !important;
            }
        }
        .search-icon {
            position: absolute;
            width: 15px;
            height: 15px;
            display: block;
            right: 0;
            top: 5px;

            &::after {
                content: "";
                position: absolute;
                right: 5px;
                top: 0px;
                opacity: .6;
                width: 15px;
                height: 15px;
                background-image: url(../images/search.svg);
            }
        }

        .form-control {
            border: none;
            padding-right: 2rem;
            border-bottom: 1px solid rgba(149, 149, 149, 0.58) !important;
            padding-left: 5px;
            font-size: 1rem;
            letter-spacing: .05rem;
            padding-bottom: 0;
            border-radius: 0;
            margin-top: 1px;
            height: 27px;
            padding-top: 0;
        }
    }
    .react-multiple-carousel__arrow--right 
    {
        right: 0;
    }
    .react-multiple-carousel__arrow--left 
    {
        left: 0;
    }
    .react-multiple-carousel__arrow 
    {
        background-color: transparent;
        &::before 
        {
            font-size: 30px;
        color: #2d2d2d;
        }
        &:hover, &:focus, &:active
        {
            background-color: transparent;
        }
    }
    .card-left 
    {
        width: 64%;
        height: 100%;
    }
    .card-right
    {
        width: 34%; 
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: transparent !important;
    }

    .tab-content {
        height: calc(62% - 2rem) !important;

        .tab-pane {
            height: 100%;

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar {
                width: 4px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: #d0d0d0;
            }

        }
    }

    .videoFile {
        display: flex;
        align-items: center;

        i {
            font-size: 30px;
        }
    }

    .option {
        font-size: 1.2rem;
    }

    .customRow {
        width: 100%;
        margin-right: -15px;
        margin-left: -15px;

        [class^='col-'] {
            padding-bottom: 0 !important;
        }

        .taskTable {
            border-top: none !important;
            margin-bottom: 0;

            tr {
                &:first-child() {
                    td {
                        border-top-color: transparent !important;
                    }
                }

                td {
                    border-top: 1px solid #707070 !important;
                    border-left: 1px solid #707070 !important;
                    padding: .9rem 1.8rem;
                    font-size: 1.1rem;
                    color: $darkGray-color;
                    font-weight: 600;
                    vertical-align: middle;

                    &:nth-child(2) {
                        border-left-color: transparent !important;
                    }

                }

            }
        }
    }

    .totalTasks {
        h4 {
            font-size: 4.6rem;
            font-weight: 600;
            margin-bottom: .1rem;
            @include breakpoint(tablet-land)
            {
                font-size: 3.4rem;
            }
        }

        .mb {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .table td {
        border-top: none;
    }

    .emp-health {
        .card-body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin-bottom: 0px !important;
            padding-right: 0 !important;
        }

        &.empty-card,
        &.verification,
        &.addNew-card {
            border: 2px dashed rgba(10, 10, 10, 0.27);
            box-shadow: none;
        }

        &.verification {
            background-color: transparent;

            .verification-container {
                display: block;
            }

            .card-title {
                .cardItem {
                    h2 {
                        display: none;
                    }

                    .action-icons {
                        opacity: .5;
                        position: relative;
                        top: 1rem;
                    }
                }

                border-color: transparent !important;
                background-color: transparent !important;
            }

            .customRow {
                display: none;
            }
        }

        &.addNew-card {
            background-color: transparent;

            .addNew-container {
                display: block;

                .addNew-content {
                    .addBtn {
                        width: 60px;
                        height: 60px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        display: flex;
                        border: 1px solid $gray-color;
                        box-shadow: 0px 3px 6px #00000029;
                        margin: 0 auto;

                        .addIcon {
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                height: 30px;
                                width: 30px;
                                background-image: url(../images/thin-plus.svg);
                                background-size: 24px;
                                background-repeat: no-repeat;
                                background-position: center;
                                top: 50%;
                                left: 50%;
                                transform: translate(50%, -50%);
                               
                            }
                        }
                    }
                }
            }

            .card-title {
                .cardItem {
                    h2 {
                        display: none;
                    }

                    .action-icons {
                        opacity: .5;
                        position: relative;
                        top: 1rem;
                    }
                }

                border-color: transparent !important;
                background-color: transparent !important;
            }

            .customRow {
                display: none;
            }
        }
    }

    .verification-container {
        display: none;
    }

    .editon {
        width: 35px;
        height: 35px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 35px;
            height: 35px;
            top: -19px;
            right: 0;
            background-image: url(../images/edit.svg);
            background-size: 35px;
            background-repeat: no-repeat;
            @include breakpoint(tablet-land)
            {
                background-size: 24px;
                top: -11px;
                right: -15px
            }
        }
    }

    .cardTitle {
        display: flex;
        width: 100%;
        align-items: center;

        h4 {
            margin-bottom: 0;
            color: #3D3D3D;
        }

        .tableSearch {
            margin-left: auto;

            img {
                opacity: .8;
            }
        }
    }

    .verification-content {
        h6 {
            font-size: 1.4rem;
            color: $darkGray-color
        }

        p {
            color: $gray-color;
            font-size: 1.2rem;
        }



    }
    .scroll 
    {
        position: relative;
    }
    .tableAssignBtn 
    {   position: absolute;
        top:  calc(50% + 40px) ;
        left: 50% ;
        transform: translate(-50%,-50%);
        cursor: pointer;
        z-index: 1;
        img 
        {
            width:36px;
        }
        .assign-btn-container 
        {
            .btn 
            {
                padding: 0.25rem 1.2rem;
                font-size: 1.1rem;
                margin-top: 1rem;
                border: 1px solid #707070;
                border-radius: 7px;
            }
        }
    }
    .scroll-table {
        margin-top: 0;
    }

    .table-responsive {
        height: 100%;
    }

    .statusTableContainer {
        .table-responsive 
        {
            @include horizontal-scrollbar();
        }
        .statusDetailsTable {
         @include breakpoint(tablet-large)
        {
            width: 850px;
        }
       
            thead {

                th {
                    padding-left: 2rem;
                    background-color: #F2F2F2;
                }
            }

            td,
            th {
                position: relative;
                vertical-align: middle;
            }

            tbody {
                @include scrollbar();

                tr,
                .warning-status {
                    position: relative;

                    td {
                     
                        color: #818181;
                        padding-left: 2rem;

                        &:first-child {
                            color: #63799B;
                        }

                        &:nth-child(2) {
                            color: #729FE5;
                        }

                        &:first-child {
                            &::before {
                                content: "";
                                height: 100%;
                                position: absolute;
                                left: 0;
                                top: 0px;
                            }
                        }
                    }

                    border-bottom: 1px solid #DFDFDF !important;
                }

                .warning-status {
                    .action {
                        color: $orange-color;
                    }

                    td {
                        &:first-child {
                            &::before {
                                border-left: 12px solid $orange-color;
                            }
                        }
                    }
                }

                .success-status {
                    .action {
                        color: $green-color;
                    }

                    td {

                        &:first-child {
                            &::before {
                                border-left: 12px solid $green-color;
                            }
                        }
                    }

                }

                .error-status {
                    .action {
                        color: $red-color;
                    }

                    td {
                        &:first-child {
                            &::before {
                                border-left: 12px solid $red-color;
                            }
                        }
                    }

                }
            }
        }
    }



    /*
.statusTable 
{
    .card-body 
    {
        .table {
            thead {
                th {
                    border-top: none !important;
                    font-weight: 600;
                    color: #63799B;
                    outline: none;
                    cursor: pointer;
                    padding-left: 0;

                    .react-bootstrap-table-sort-order, .order {
                        position: relative;
                        padding-left: .5rem;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 5px solid $darkBlue-color;
                        }
                        &::after 
                        {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid $darkBlue-color;
                        }

                        .dropup {}
                    }
                }
            }
        }

        tbody {
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }
        
            &::-webkit-scrollbar {
                width: 4px;
                background-color: #F5F5F5;
            }
        
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: #d0d0d0;
            }
            tr {
                td {
                    
                    padding: 0.5rem 0rem 0.5rem;
                    color: #818181 !important;
                    &:nth-child(1) {
                        color: #63799B !important;
                    }
                }

            }
            display: block;
            height: 120px;
            overflow: auto;
        }
        thead,
        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            
        }
    }

}


.table th, .table td
{
    border-top: 1px solid #dee2e6 !important;

}
.react-bootstrap-table-pagination 
{
    margin-right: -15px !important;
}
.pagination
{
    justify-content: flex-end;
    margin-bottom: 0;
}
.page-item 
{
    .page-link 
    {
        color: #818181;
        &:focus 
        {
            box-shadow: none !important;
        }
    }
    &.active 
    {
        .page-link 
        {
            background-color: $inActive !important;
            border-color: $inActive;
        } 
    }
}
*/


    @media (max-width: 1680px) {
        .plant-tabs {
            height: 40%;

        }

        .tab-content {
            height: calc(58% - 1rem) !important;
        }

        .action-icons {
            img {
                width: 35px;
            }
        }

        .customRow .taskTable tr td {
            padding: .8rem 1.5rem;
        }
    }

    @media (max-width: 1280px) {
        .plant-tabs {
            height: 45%;

        }

        .tab-content {
            height: calc(55% - 1rem) !important;
        }

        .topCard .cardItem h2 {
            font-size: 1.5rem;
        }

        .plant-tabs {
            padding-top: 2rem;
        }

        .customRow .taskTable tr td {
            padding: .5rem 1rem .5rem .5rem;
            font-size: .9rem;
        }

        .totalTasks .mb {
            font-size: 1.2rem;
        }
    }

    .videoFile {
        max-width: 60px;
        width: 100%;
        padding: .3rem 0;
        min-height: 50px;
        position: relative;
        cursor: pointer;
        .doneImg 
        {
            img 
            {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            }
        }
        > img {
            
            width: 34px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    }
    .react-multi-carousel-item
    {
        margin: 0 0px  0 0;
    }
    .react-multi-carousel-list   
    {
        position: relative;
        top: -16px;
    }

}

// Modal Style
#powderCoating {
    @include breakpoint(tablet-large)
    {
        max-width: 600px;
    }
    .modal-content {
        box-shadow: 2px 6px 17px #0000003B;
        border-radius: 12px;
        border: none;
        .modal-header {
            padding: 0.4rem 1rem;
        }

        .statusTableContainer {
            height: 50vh;
            @include scrollbar();
            margin-right: 1rem;
        }

        .videoFile {
            max-width: 60px;
            width: 100%;
            padding: .3rem 0;
            min-height: 50px;
            position: relative;
            cursor: pointer;

            .doneImg 
            {
                img 
                {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                }
            }
            > img {
            
                width: 34px;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
            }

        }

        .scroll {
            height: 100% !important;
        }

        .mediaImage {
            max-width: 90%;
            width: 100%;
            margin: 0 auto;

            .mediaItem {
                img {
                    width: 100%;
                }
            }

        }

        .modalTable {
            tr {

                td,
                th {
                    padding-left: 1rem !important;
                    vertical-align: middle;

                    &:first-child {
                        width: 25%;
                    }

                    &:nth-child(2) {
                        width: 25%;
                    }
                }
                td
                {
                    padding-top: 0;
                    padding-bottom: 0;
                }
                td {
                    color: #818181;
                }
            }

            .scroll {
                height: 40vh !important;
                @include scrollbar();
            }
        }

        .modal-dialog {
            max-width: 850px;
        }

        .modal-title {
            font-size: 1.7rem;
            padding: .5rem 0 .4rem;
        }

        .modal-header {
            .close {
                margin: -.5rem -1rem -1rem auto;
                font-size: 2.5rem;
            }
        }

        .modal-body {
            padding: 1.5rem 0 .5rem;
        }
    }




    .fillterArrow {
        position: relative;
        padding-left: .5rem;

        .topArrow {
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid $darkBlue-color;
            ;

        }

        .bottomArrow {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $darkBlue-color;
            ;
        }
    }

    .action {
        .error {
            color: $red-color;
        }

        .success {
            color: $green-color;
        }

        .warning {
            color: $orange-color;
            border: none;
        }
    }


}

#editPlant {
    .form-group {

        p {
            color: #5A5A5A !important;
        }
    }
    .mediaUpload 
    {

    }
}
.add-field
{
    @include breakpoint(tablet-large)
    {
        padding-left: 1.6rem;
    }
}

#editPlant {
    max-width: 650px !important;

}
#addPlant{
    max-width: 600px !important;
    @include breakpoint(tablet-large)
    {
        max-width: 520px !important;
    }
    .modal-body 
    {
        .row 
        {
            padding-left: .2rem;
        }
    }
}

#assignTask {
    max-width: 520px !important;

    .mediaUpload {
        min-height: 110px;

        img {
            height: 120px !important;
        }
    }

    .addPlantForm {
        .form-label {
            opacity: .5;
        }

        .form-group {

            .form-control {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .inprogress {
        color: $orange-color !important;
    }
}

#addPlant,
#editPlant,
#assignTask {


    .modal-body {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .addPlantForm {
        margin-bottom: 0;
        padding-left: 0;
        .form-label {
            color: #5A5A5A;
            margin-bottom: 0;
        }

        .form-group {
            margin-bottom: .5rem;
            position: relative;
            color: #5A5A5A;
            .mapIcon {
                background-image: url(../images/pin.svg);
            }

            .timeIcon {
                background: url(../images/clock.svg);
                background-size: 12px;
                width: 12px !important;
            }

            .calIcon {
                background-image: url(../images/calendar@2x.png);
                background-size: 12px;
                width: 12px !important;
            }

            .mapIcon,
            .calIcon,
            .timeIcon {

                background-repeat: no-repeat;
                width: 11px;
                height: 16px;
                position: absolute;
                top: .6rem;
                right: 0;
            }

            .form-control {
                border-top: 0 !important;
                border-left: 0 !important;
                border-right: 0 !important;
                border-radius: 0 !important;
                padding-left: 0px;
                color: #5A5A5A;

                &::placeholder {
                    color: rgba(90, 90, 90, 0.25);
                }

                &:focus {
                    border-color: #dee2e6;
                    box-shadow: none;
                }
            }

            p {
                color: rgba(90, 90, 90, 0.25);
            }
        }

        .action {
            position: absolute;
            top: .5rem;
            right: 15px;
            z-index: 1;

            .icon {
                position: relative;
                width: 18px;
                height: 18px;
                display: inline-block;
                border-radius: 50%;

                &.deleteIcon {
                    background: #D22727 0% 0% no-repeat padding-box;
                    
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 4px;
                        width: 10px;
                        height: 10px;
                        background-size: 18px;
                        background-image: url(../images/minus.svg);
                        z-index: 1;
                    }
                }

                &.addIcon {
                    background: #79D05B 0% 0% no-repeat padding-box;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 2.5px;
                        width: 18px;
                        height: 18px;
                        background-size: 12px;
                        background-image: url(../images/signs.svg);
                        z-index: 1;
                        background-repeat: no-repeat;
                    }

                    // &::before {
                    //     content: "";
                    //     position: absolute;
                    //     top: .5rem;
                    //     left: 4px;
                    //     width: 10px;
                    //     height: 1px;
                    //     border: 1px solid #ffffff;
                    //     z-index: 1;
                    // }

                }
            }


        }
    }

    .cancel-btn {
        background-color: $red-color !important;
        color: #ffffff !important;
        border-color: $red-color !important;
        box-shadow: 2px 6px 17px #0000003B;
    }

    .verify-btn {
        background-color: $green-color !important;
        color: #ffffff !important;
        border-color: $green-color !important;
        box-shadow: 2px 6px 17px #0000003B;
    }

    .mediaUpload {
        border: 1px dashed rgba(112, 112, 112, 0.7);
        border-radius: 21px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            height: 140px;
        }

        .icon {
            font-size: 40px;
        }
    }

    .modal-content {
        box-shadow: 2px 6px 17px #0000003B;
        border-radius: 12px;
        border: none;

        .modal-header {
            padding: .5rem 1rem .4rem;
            align-items: center;
            border-color: #757575;

            .modal-title {
                color: #535353
            }

        }
    }

    .close {
        font-size: 2.5rem;
        font-weight: 300;
        &:focus 
        {
            outline: none;
        }
    }

    .modal-btn {
        .btn {
            background: #DBDBDB 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            border-radius: 7px;
            color: #393636;
            font-weight: 600;
            margin: 0 .5rem;
            font-size: 1rem;
            padding: .3rem 2.5rem;
        }
    }
}

#left-tab 
{
    display: none;
}