.warning-color {
  color: #FF8500;
}

.success-color {
  color: #4ABF21;
}

.error-color {
  color: #F81313;
}

.warning {
  border: 1px solid #B7B7B7;
}

.dailySelfSurvey {
  padding-left: 0;
  padding-top: 5px;
}

.dailySelfSurvey li {
  position: relative;
  margin: 0 .1rem;
  display: inline-block;
  list-style: none;
  background-color: #ffffff;
  border: solid 1px #B7B7B7;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.dailySelfSurvey li:nth-child(8), .dailySelfSurvey li:nth-child(9), .dailySelfSurvey li:nth-child(10), .dailySelfSurvey li:nth-child(11), .dailySelfSurvey li:nth-child(12), .dailySelfSurvey li:nth-child(13), .dailySelfSurvey li:nth-child(14) {
  top: -5px;
}

.dailySelfSurvey li.success {
  border-color: #4ABF21;
  background-color: #4ABF21;
}

.dailySelfSurvey li.error {
  border-color: #F81313;
  background-color: #F81313;
}

.arrow {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent;
  text-indent: -9999px;
  border-top: 2px solid #bfbfbf;
  border-left: 2px solid #bfbfbf;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
}

.arrow::before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow.prev {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 0;
}

.arrow.next {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  right: 0;
}

.arrow.up {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 175px;
}

.arrow .down {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  right: 175px;
}

.header {
  height: 100px;
  padding: 0;
  background: #30303D;
  background: none;
}

@media (max-width: 1200px) {
  .header {
    background: rgba(1, 1, 1, 0.8);
  }
}

@media (max-width: 1280px) {
  .header {
    height: 80px;
    z-index: 4 !important;
  }
}

.header.have-bg {
  background: #010101;
}

.header .logo {
  height: 100px;
  width: 110px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #171717;
  color: #ffffff;
}

.header .logo img {
  max-height: 50px;
}

.header .searchPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

@media (max-width: 520px) {
  .header .searchPhone {
    display: block;
  }
}

.header .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .header .navbar-nav {
    margin-top: -18px;
  }
}

@media (max-width: 1024px) {
  .header .navbar-nav {
    margin-top: 4px;
    padding-right: 0;
  }
}

@media (max-width: 759px) {
  .header .navbar-nav {
    padding-right: 4.5rem;
  }
}

.header .navbar-nav .nav-item {
  padding: 0 1.5rem 0 0;
}

.header .navbar-nav .nav-item .nav-link {
  color: #5C4E8E;
  background: #F1F0F5;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
}

@media (max-width: 1280px) {
  .header .navbar-nav .nav-item .nav-link {
    width: 34px;
    height: 34px;
  }
}

.header .navbar-nav .nav-item .nav-link .fa {
  font-size: 1.25rem;
  color: #5C4E8E;
}

@media (max-width: 1280px) {
  .header .navbar-nav .nav-item .nav-link .fa {
    font-size: 1.15rem;
  }
}

.header .navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #6F6F6F;
  font-size: 66%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-position: 1px 0;
}

@media (max-width: 1280px) {
  .header .navbar-nav .nav-item .nav-link .badge {
    width: 12px;
    height: 12px;
    padding-top: 3px;
  }
}

.header .navbar-nav .nav-item .nav-link:hover {
  background: #e6e2f5;
}

.header .navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.header .navbar-nav .nav-item.comments {
  padding-left: .5rem;
}

.header .navbar-nav .nav-item.user-profile .nav-link {
  padding: 0;
  border: 0 none;
}

.header .navbar-nav .nav-item.user-profile .nav-link:after {
  display: none;
}

.header .navbar-nav .nav-item.user-profile .nav-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .navbar-nav .nav-item.user-profile .nav-link img {
  max-width: 100%;
}

.header .navbar-nav .nav-item.user-profile .dropdown-menu {
  padding: .5rem;
}

.header .navbar-nav .nav-item.user-profile .dropdown-menu a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9rem;
  background: #f2f2f2;
  color: #000000;
  border-radius: 6px;
  padding: .4rem .5rem;
}

.header .navbar-nav .nav-item.user-profile .dropdown-menu a i {
  padding-right: .3rem;
  font-size: .9rem;
}

.header .navbar-nav .nav-item.user-profile .dropdown-menu a:last-child {
  border-bottom: none;
}

.header .navbar-nav .nav-item.user-profile .dropdown-menu a:hover {
  border-radius: 6px;
}

.header .navbar-nav .nav-item.search {
  position: relative;
  min-width: 350px;
}

@media (max-width: 1024px) {
  .header .navbar-nav .nav-item.search {
    min-width: 250px;
  }
}

@media (max-width: 520px) {
  .header .navbar-nav .nav-item.search {
    position: absolute;
    top: 6.5rem;
    right: 0;
    display: none;
  }
}

.header .navbar-nav .nav-item.search .search-icon {
  position: absolute;
  right: 33px;
  top: 6px;
}

.header .navbar-nav .nav-item.search .form-control {
  background-color: #f2f2f2;
  border: 1px solid #ACACAC;
  border-radius: .5rem;
  padding-right: 2rem;
}

.header .navbar-nav .nav-item .noti-dropdown {
  min-width: 540px;
  border-radius: 10px;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-container {
  max-height: 500px;
  overflow: auto;
}

.header .navbar-nav .nav-item .noti-dropdown .dropdown-title {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #F0F1F3;
}

.header .navbar-nav .nav-item .noti-dropdown .dropdown-title h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: .8px;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti {
  margin: 0;
  padding: 15px 10px;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti:hover {
  background-color: #F9F9F9;
  cursor: pointer;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .col {
  padding: 0 10px;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .profile-pic {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 80px;
  margin: 0;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .profile-pic .pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  width: 60px;
  height: 60px;
  background-color: #F1F0F5;
  border-radius: 50%;
  overflow: hidden;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .noti-details .user-info {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 135px;
  padding-right: 0;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .noti-details .user-info .user-name {
  margin: 0;
  font-size: 1rem;
  color: #585858;
  letter-spacing: 0;
  padding-right: 10px;
  border-right: 1px solid #ececec;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .noti-details .user-info small {
  top: -5px;
  position: relative;
  font-size: 10px;
  color: #b5b5b5;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .noti-details .quote-num h6 {
  font-size: .9rem;
  color: #585858;
  margin: 0;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .noti-details .quote-num h6 span {
  font-weight: 400;
}

.header .navbar-nav .nav-item .noti-dropdown .noti-list .noti .noti-details .quote-msg p {
  margin: 0;
  font-size: 10px;
  color: #676767;
}

@media screen and (max-width: 1300px) {
  .header .welcome-text div.user-name {
    font-size: 1.9em;
  }
}

@media screen and (max-width: 1200px) {
  .header .welcome-text div.user-name {
    font-size: 1.8em;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header .welcome-text div span {
    font-size: 14px;
  }
  .header .welcome-text div span.team-name {
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    background: rgba(1, 1, 1, 0.8);
    height: 80px;
    padding: 0 30px;
  }
  .header .logo {
    position: absolute;
    top: -12px !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
    z-index: 2;
    background: none;
    left: 32px !important;
  }
  .header .logo img {
    max-height: 120px;
    height: 40px;
    padding-left: .6rem;
  }
  .header .welcome-text {
    position: absolute;
    right: 100px;
    text-align: right;
  }
  .header .welcome-text div.user-name {
    font-size: 1.5em;
    width: 250px;
  }
  .header .welcome-text div span.team-name {
    margin: 0;
  }
  .header .welcome-text .current-time {
    display: none;
  }
  .header .bars {
    display: block !important;
    position: absolute;
    left: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border-radius: 50%;
    background: #353333;
    color: #cecece;
  }
}

@media (max-width: 860px) {
  .header .logo {
    background: none;
    top: 0;
  }
  .header .logo img {
    height: 40px;
    max-height: 80px;
  }
  .header .bars {
    left: 15px;
    width: 46px;
    height: 46px;
    line-height: 46px;
  }
  .header .bars svg {
    height: 26px;
  }
  .header .welcome-text {
    position: relative;
  }
  .header .welcome-text div {
    text-align: right;
  }
  .header .welcome-text div span {
    font-size: 12px;
  }
  .header .welcome-text div span.team-name {
    width: 110px;
  }
  .header .welcome-text div.user-name {
    font-size: 1em;
    margin: 0 0 5px;
    width: 180px;
  }
}

@media screen and (max-width: 600px) {
  .header .welcome-text div span.team-name {
    width: 80px;
  }
  .header .welcome-text div.user-name {
    width: 130px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 85px;
  }
  .header .bars {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
  }
  .header .logo {
    top: -15px;
  }
  .header .logo img {
    height: 40px;
    max-height: 70px;
  }
  .header .welcome-text {
    display: none;
  }
}

.sticky {
  position: fixed;
  right: 0;
  bottom: 25vh;
}

.sticky .stickyList {
  position: relative;
  right: -1.3rem;
}

.sticky .stickyList li {
  height: 34px;
  width: 30px;
  padding-right: 3.2rem;
  list-style: none;
  background-color: #ffffff;
  margin: .5rem 0;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 14px;
}

@media (max-width: 1280px) {
  .sticky .stickyList li {
    height: 24px;
    width: 24px;
  }
}

.sticky .stickyList li i {
  position: relative;
}

.sticky .stickyList li i::before {
  content: "";
  height: 25px;
  width: 25px;
  position: absolute;
  background-repeat: no-repeat;
  left: 7px;
  background-size: 20px;
}

@media (max-width: 1280px) {
  .sticky .stickyList li i::before {
    background-size: 17px;
    left: 3px;
    top: 4px !important;
  }
}

.sticky .stickyList li .settingIcon::before {
  top: 7px;
  background-image: url("../images/qs.svg");
}

.sticky .stickyList li .messageIcon::before {
  background-image: url("../images/Layer-1.svg");
  top: 10px;
}

@media (max-width: 1280px) {
  .sticky .stickyList li .messageIcon::before {
    background-size: 16px;
    top: 6px !important;
    left: 4px;
  }
}
/*# sourceMappingURL=header.css.map */